<footer>
    <div id="footer_tag">
        <h3>PurpleFluke<sup>&reg;</sup> Int'l</h3>
        <div id="sep_container">
            <div class="separator"></div>
        </div>

        <p>&copy; 2017 PurpleFluke</p>
    </div>


</footer>
</body>

</html>